BOT_TOKEN=8037771334:AAGxr-QclOfb4cK_Hve21zykFgXajFyXkwc
VITE_API_KEY=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
WEBHOOK_URL=https://skyos-cloud-bot.onrender.com/webhook

VITE_SUPABASE_URL=https://oxazzejsmratrlzvrdfq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94YXp6ZWpzbXJhdHJsenZyZGZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ1MjY2MTIsImV4cCI6MjA3MDEwMjYxMn0.Gsh1qd6lBBvZCtWPd1gNHsCW1XMbgbVx2ePCGVLoCHk

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.gFbfsHImTyUAngc2:F2hGMdqbBlTiqmJT@aws-0-eu-west-3.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.gFbfsHImTyUAngc2:F2hGMdqbBlTiqmJT@aws-0-eu-west-3.pooler.supabase.com:5432/postgres"

# Variables d'environnement pour le développement
NODE_ENV=development

# Variables pour les fonctionnalités natives (optionnel)
VITE_ENABLE_CAMERA=true
VITE_ENABLE_GEOLOCATION=true
VITE_ENABLE_NOTIFICATIONS=true